<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-30(%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5.5level %22.22logger{0}]) %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="fr.inria.eventcloud" level="debug" />
	<logger name="org.objectweb.proactive.extensions.p2p" level="info" />
	<logger name="fr.inria.eventcloud.load_balancing" level="debug" />
	<logger name="org.objectweb.proactive.extensions.p2p.structured.mutual_exclusion" level="trace" />
	
	<!--<logger name="fr.inria.eventcloud.datastore.stats" level="trace" /> -->
	<!--<logger name="fr.inria.eventcloud.load_balancing" level="trace" /> -->
	
 	<root level="off">
		<appender-ref ref="stdout" />
	</root>
</configuration>
